@use "../abstracts/variables" as variables;

body {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
}

.emoji {
  font-family: variables.$font-emoji;
}

h1 {
  font-size: variables.$h1-font-size;
}
h2 {
  font-size: variables.$h2-font-size;
}
h3 {
  font-size: variables.$h3-font-size;
}
h4 {
  font-size: variables.$h4-font-size;
}
h5 {
  font-size: variables.$h5-font-size;
}
h6 {
  font-size: variables.$h6-font-size;
}
